.menu-container {
    position: relative;
  }
  
  .more-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: #f0f0f0;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .dot {
    width: 4px;
    height: 4px;
    background-color: #555;
    border-radius: 50%;
    margin: 2px;
  }
  
  .options {
    display: none;
    position: absolute;
    top: 30px; /* Adjust this value based on your design */
    right: 0;
    list-style: none;
    background-color: #f0f0f0;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .menu-container:hover .options {
    display: block;
  }
  
  .options li {
    margin-bottom: 4px;
  }
  
  .options li:last-child {
    margin-bottom: 0;
  }
  
  .options li a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 6px 12px;
  }
  
  .options li a:hover {
    background-color: #ddd;
  }
  
  .output {
    height: fit-content;
    color: #333;
    
  }